{%extends 'base/base.html'%}
{% load crispy_forms_tags %}
{%block title %}{{product.title}} {%endblock title%}
{%block favicon %}
<link rel="shortcut icon" href="https://i.dlpng.com/static/png/6766240_preview.png" type="image/x-icon"> 
{%endblock favicon%}

{%block style%}
<style>
  @keyframes show-toast{
    0% {bottom: -100%;}
    20% {bottom: 50px;}
    80% {bottom: 50px;}
    100% {bottom: -100%;}
  }

  .notification.is-toast{
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 4s;
    z-index: 100;
  }
</style>

{%endblock style%}


{%block content%}
{%include 'ecommerce/eco_nav.html'%}
<div class="container">
    <div class="row d-flex justify-content-center no-gutters">
      <div class="col-md-12">
        <!--messages-->
          {%if messages %}

          {% for message in messages %}

            <p class="alert alert-success notification is-toast">{{message}}</p>

          {%endfor%}

          {% endif %}
        <!--messages-->
        <div class="card">
            <div class="card-header  bg-dark ">
               <div class="row ">
                 <div class="col-md-6">
                  <h4 class="bg-primary text-light p-2">{{product.title}}  @<small>{{product.vendor.name}}</small> <br>
                    <hr>
                    <form method="POST">
                      {%csrf_token%}
                      <div class="form-row ">
                        <div class="col-10">
                          <input type="number" min="1" class="form-control" id="num" value="1" name="quantity">
                        </div>
                        <div class="col-2">
                          <input type="submit" class="btn  btn-warning form-control" value="Add to cart">
                        </div>
                      </div>
                    </form>


                    <!-- <hr> -->
                    
                    <!-- <hr> -->
                      <!-- <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-success">View</button>
                        <button type="button" class="btn btn-sm btn-outline-warning">Edit</button>
                      </div> -->
                      <small class="badge badge-info text-light">Price: ${{product.price}}</small>
                      <hr>
                      <p>{{product.description}}</p>
                  </h4>
  
                  
                  <!-- <p></p> -->
                 </div>
                 <div class="col-md-6">
                  <img class="img-fluid" src="{{product.get_thumbnail}}" style="max-width:100%; height: 400px;" alt="Card image cap">

                 </div>
               </div>
            </div>
            <!-- <div class="card-body">
                
                <hr>
                <div class="d-flex justify-content-between align-items-center">
                    
                  </div>
            </div> -->
        </div>
      </div>
      <!-- <hr> -->
      <!-- <br> -->
      <div class="col-md-12 mt-2">
          {%if similar_products%}
         <div class="card">
           <div class="card-header bg-info p-4 text-light text-center">
             SIMILAR PRODUCTS
           </div>
           <div class="card-body">
             
          {% for product in similar_products %}
          {%include 'ecommerce/p_list.html'%}
          <!-- <div class="col-md-4">
            <div class="card mb-4 box-shadow text-center">
              <div class="card-header bg-dark">
                <p class="bg-primary text-light p-2">{{product.title}}</p>
                <img class="img-fluid" src="{{product.get_thumbnail}}" style="max-width:100%; height: 150px;;" alt="Card image cap">
              </div>
             
              <div class="card-body">
                <p class="card-text">{{product.description}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-success">View</button>
                    <button type="button" class="btn btn-sm btn-outline-warning">Edit</button>
                  </div>
                  <small class="badge badge-primary text-light">Price: ${{product.price}}</small>
                </div>
              </div>
      
            </div>
        </div> -->
      
        {%endfor%}
           </div>
         </div>


          {%else%}
          <div class="card">
            <div class="card-header bg-warning p-4 text-light text-center">
              <h4>NO SIMILAR PRODUCTS FOUND</h4>

            </div>
          </div>

          {%endif%}
      </div>
    </div>
</div>



{%endblock%}