<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SocialSite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarColor02">


      <form class="form-inline my-2 my-lg-0" action="{%url 'social-search' %}" method="GET">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="query" value="{{query}}">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>


      <ul class="navbar-nav float-right">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li> -->
        {% if request.user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'social-profile' request.user.username %}"><i class="fas fa-home"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'social-converse' %}"><i class="fas fa-comments"></i></a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="{%url 'social-feed' %}">My</a>
        </li> -->

       

        <li class="nav-item">
          <a class="nav-link" href="{% url 'social-logout' %}"><i class="fas fa-sign-out-alt"></i></a>
        </li>

        {%else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'social-signup' %}"><i class="fas fa-user-plus"></i></a>
          

        </li>

        <li class="nav-item">
         
          <a class="nav-link" href="{% url 'social-login' %}"><i class="fas fa-sign-in-alt"></i></a>

        </li>
        {%endif%}
       
        <!-- <li class="nav-item">
          <a class="nav-link" href="{%url 'social-search' %}">Search</a>
        </li> -->
        
      </ul>
    
    </div>
  </nav>