{%extends 'base/base.html' %}

{%block title %} Project List {%endblock title %}

{%block content %}

<div class="jumbotron">
    <h1 class="display-3">Social Project</h1>
  
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'social-home' %}" role="button">Go to project</a>
    </p>
  </div>
  <!-- <hr> -->
  <div class="jumbotron">
    <h1 class="display-3">Ecommerce Project</h1>
  
    <p class="lead">
      <a class="btn btn-success btn-lg" href="{% url 'eco-home' %}" role="button">Go to project</a>
    </p>
  </div>


  <div class="jumbotron">
    <h1 class="display-3">Track your Daily Tasks</h1>
  
    <p class="lead">
      <a class="btn btn-danger btn-lg" href="{% url 'time-home' %}" role="button">Go to project</a>
    </p>
  </div>

{%endblock content%}