{%extends 'base/base.html'%}
{% load crispy_forms_tags %}
{%block title %}Time| Invitation {%endblock title%}
{%block favicon %}
<link rel="shortcut icon" href="https://pngimg.com/uploads/alarm_clock/alarm_clock_PNG28.png" type="image/x-icon">
{%endblock favicon%}


{%block content%}
{%include 'time_track/time_nav.html'%}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'time-home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{%url 'time-account' %}">Account</a></li>
    <!-- <li class="breadcrumb-item"><a href="#">{{team.title}}</a></li> -->

    <li class="breadcrumb-item active">Accept</li>
  </ol>

  <div class="container">
      <div class="row">
          <div class="col-6">
              <div class="card">
                  <div class="card-header">
                      ACCEPT Invitation
                  </div>
                  <div class="card-body">
                      <form action="" method="post">
                          {%csrf_token%}

                          <div class="form-group">
                            <label for="title">Code(from email):</label>
                            <input type="text" class="form-control" name="title" placeholder="Enter code" id="id_title" v-model="title">
                            <!-- <span></span> -->
                            <!-- <strong class="alert"></strong> -->
                            <!-- <p  v-if="errors.length">
                              <strong class="badge badge-danger" v-for="error in errors">[[error]]</strong>
                            </p> -->
                          </div>

                <button type="submit" class="btn btn-success btn-sm">Submit</button>


                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>

{%endblock%}