<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Accept</title>
</head>
<body>

    <table>
        <tr>
            <td>TIme</td>
        </tr>

        <tr>
            <td>
                <p>{{invitation.email}} Invitation Accepted</p>
                <!-- <p>Click link below to join {{code}}</p> -->
            </td>
        </tr>
        <!-- <tr>
            <td>
                <a href="{{acceptation_url}}">Accept invitation</a>
            </td>
        </tr> -->
    </table>
    
</body>
</html>