<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Invite</title>
</head>
<body>

    <table>
        <tr>
            <td>Invitation to {{team.title}}</td>
        </tr>

        <tr>
            <td>
                <p>You are invited to join {{team.title}}</p>
                <p>Click link below to join {{code}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{acceptation_url}}">Accept invitation</a>
            </td>
        </tr>
    </table>
    
</body>
</html>