<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <!-- <img src="bird.jpg" alt="logo" style="width:40px;"> -->
      <span><i class="fas fa-clock"></i></span>
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav ml-auto">

      {% if  request.user.is_authenticated%}

      <li class="nav-item" v-if="!trackingTime">
        <a @click="startTimer()" class="nav-link" href="">
          <span>Start</span>
        </a>
      </li>

      
      <li class="nav-item" v-else>
        <a @click="stopTimer()" class="nav-link" href="">
          <span>[[readableSecond]] stop</span>
        </a>
      </li>



      <li class="nav-item">
        <a class="nav-link" href="{%url 'time-account' %}">{% firstof request.user.get_full_name request.user.username %}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'time-projects-list' %}">Projects</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'time-dashboard' %}">dashboard</a>
      </li>

      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'social-logout' %}"><i class="fas fa-sign-out-alt"></i>logout</a>
      </li>
      
      {%else%}
      <li class="nav-item">
        <a class="nav-link" href="{%url 'social-signup' %}">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'social-login' %}">Login</a>
      </li>
      {%endif%}

    
    
    </ul>
  </nav>

  {%if messages %}

  {% for message in messages %}

    <p class="alert alert-success notification is-toast">{{message}}</p>

  {%endfor%}

  {% endif %}



  <script>
    var NavbarApp = {
      data() {
        return {
          // seconds : {{active_entry_seconds}},
          trackingTime:false,
          // showTracking
        }
      }
    }
  </script>