<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <!-- <img src="bird.jpg" alt="logo" style="width:40px;"> -->
      <span><i class="fas fa-clock"></i></span>
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav ml-auto">

      {% if not request.user.is_authenticated%}
      <li class="nav-item">
        <a class="nav-link" href="{%url 'social-signup' %}">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'social-login' %}">Login</a>
      </li>
      {%endif%}
      <li class="nav-item">
        <a class="nav-link" href="{%url 'time-account' %}">Account</a>
      </li>
    </ul>
  </nav>