{%extends 'base/base.html'%}
{% load crispy_forms_tags %}
{%block title %}Time| {{project.title}} {%endblock title%}
{%block favicon %}
<link rel="shortcut icon" href="https://pngimg.com/uploads/alarm_clock/alarm_clock_PNG28.png" type="image/x-icon">
{%endblock favicon%}


{%block content%}
{%include 'time_track/time_nav.html'%}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{%url 'time-home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{%url 'time-projects-list' %}">Projects</a></li>
  <li class="breadcrumb-item active">{{project.title}}</li>
</ol>


<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    {{project.title}}
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}