{%extends 'base/base.html'%}
{% load crispy_forms_tags %}

{%load dashboardextras %}

{%block title %}Time|Dashboard {%endblock title%}
{%block favicon %}
<link rel="shortcut icon" href="https://pngimg.com/uploads/alarm_clock/alarm_clock_PNG28.png" type="image/x-icon">
{%endblock favicon%}


{%block content%}
{%include 'time_track/time_nav.html'%}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'time-home' %}">Home</a></li>



    <li class="breadcrumb-item active">Dashboard</li>
</ol>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>ME</h4>
                    <p><b>DATE:</b> {%if num_days is 0 %}Today{%else%}{{date_user|date:"Y-m-d"}}{%endif%}</p>


                </div>

                <div class="card-body">
                    {%if date_entries %}
                    <!-- <div class="card-header"> -->

                        <table class="table table-hover">
                            <thead class="bg-dark text-light">
                                <tr>
                                    <td>Task</td>
                                    <td>Project</td>
                                    <td>Time</td>
                                </tr>
                            </thead>

                            <tbody>
                                {% for entry in date_entries%}
                                <tr>
                                    <td>{{entry.task.title}}</td>
                                    <td>{{entry.project.title}}</td>
                                    <td>{{entry.minutes | format_minutes}}</td>
                                </tr>
                                {% endfor%}
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="2">Total</td>
                                    <td>{{time_for_user_and_date}}</td>
                                </tr>
                            </tfoot>
                        </table>


                    {%else%}

                        <p>No Entry Today</p>


                    <!-- </div> -->
                    {%endif%}

                    <a href="?num_days={{num_days|add:'1'}}" class="btn btn-sm btn-info">Previous</a>
                    {%if num_days > 0 %}
                    <a href="?num_days={{num_days|add:'-1'}}" class="btn btn-sm btn-success">Next</a>
                    {%endif%}
                </div>
            </div>

        </div>


        <!--######################-->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>ME</h4>
                   <p>
                    <b>MONTH:</b> {%if user_num_months is 0 %}This Month {%else%} {{uer_month|date:"Y-m"}}{%endif%}
                   </p>
                </div>

                
                <div class="card-body">
                    {%if time_for_user_and_month %}
                    <!-- <div class="card-header"> -->

                        <table class="table table-hover">
                            <thead class="bg-dark text-light">
                                <tr>
                                    <!-- <td>Task</td> -->
                                    <td>Project</td>
                                    <td>Time</td>
                                </tr>
                            </thead>

                            <tbody>
                                {% for project in all_projects%}
                                {%if project.time_for_user_and_project_and_month > 0 %}
                                <tr>
                                    <!-- <td>{{entry.task.title}}</td> -->
                                    <td>{{project.title}}</td>
                                    <td>{{project.time_for_user_and_project_and_month | format_minutes}}</td>
                                </tr>
                                {%endif%}
                                {% endfor%}
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td >Total</td>
                                    <td>{{time_for_user_and_month}}</td>
                                </tr>
                            </tfoot>
                        </table>


                    {%else%}

                        <p>No Entry this month</p>


                    <!-- </div> -->
                    {%endif%}

                    <a href="?user_num_months={{user_num_months|add:'1'}}" class="btn btn-sm btn-info">Previous</a>
                    {%if user_num_months > 0 %}
                    <a href="?user_num_months={{user_num_months|add:'-1'}}" class="btn btn-sm btn-success">Next</a>
                    {%endif%}
                </div>

            </div>
        </div>



        <!---team-->
        {% if request.user == team.created_by %}

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>TEAM</h4>

                    <p><b>TEAM MONTH:</b>
                        {%if team_num_months is 0 %}Current Month {%else %}{{team_month|date:"Y-m"}} {%endif%}
                    </p>
                </div>

                <div class="card-body">
                        {% if time_for_team_and_month > 0 %}

                        <table class="table table-hover">

                            <thead>
                                <tr>
                                    <th>NAME</th>
                                    <th>TIME</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for member in members %}

                                    <tr>
                                        <td>
                                            {% firstof member.get_full_name member.uername %}
                                        </td>

                                        <td>
                                            {{member.time_for_user_and_team_and_month | format_minutes  }}
                                        </td>
                                    </tr>
                                {% endfor%}
                            </tbody>

                        </table>

                        {%else%}

                        <hr>No Team record found

                        {%endif%}

                    <a href="?team_num_months={{team_num_months|add:'1'}}" class="btn btn-sm btn-info">Previous</a>
                    {%if team_num_months > 0 %}
                    <a href="?team_num_months={{team_num_months|add:'-1'}}" class="btn btn-sm btn-success">Next</a>
                    {%endif%}
                </div>
            </div>
        </div>

        {%endif%}
    </div>

    <hr>
    <h4 class="p-3 text-center bg-dark text-white">
        RECENT PROJECTS
    </h4>
    <div class="row">
        
        {% for project in projects %}

        <div class="col-md-3 mb-2">
            <div class="card">
                <div class="card-header">
                    {{project.title}}

                    <p>Registerd Time: {{project.registered_time | format_minutes}}</p>

                    <p>Total Tasks: {{project.num_tasks_todo}}</p>
                </div>

                <div class="card-footer">
                    <a href="{%url 'time-project-detail' project.id %}">Details</a>
                </div>
            </div>
        </div>

        {%empty%}

        <div class="col">
            <p>NO projects yet</p>
        </div>

        {%endfor%}
    </div>
</div>



{%endblock%}