{% extends 'base/base.html' %}
{% load humanize %}

{%block title %} Social Feed {% endblock title %}


{%block content %}
{%include 'social_app/social_nav.html' %}

<div class="container" id=socialApp>
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h4>[[user]]->POST SOMETHING:</h4>
                    <form action="" v-on:submit.prevent="submitSocial()">
                        <div class="form-group">
                            <!-- <label for="email">Email:</label> -->
                            <textarea class="form-control" name="" v-model="body" id="" cols="30" rows="5"
                                placeholder="Write something..."></textarea>
                        </div>

                        <button class="btn btn-sm btn-success float-right" type="submit"> submit</button>

                    </form>
                </div>
                <div class="card-body">

                    <div v-for="social in socials">

                        <blockquote class="blockquote text-left">

                            <img :src="social.avatar" alt="" style="height: 50px; max-width: 100%;">

                            <p class="mb-0 d-inline">[[social.body]]</p>
                            <footer class="blockquote-footer">Posted by -[[social.user]] <cite
                                    title="Source Title">@[[social.created_at]]</cite></footer>
                        </blockquote>
                    </div>
                    {% for social in socials %}
                    <blockquote class="blockquote text-left">
                        {% if social.created_by.SocialProfile.avatar %}
                        <img src="{{social.created_by.SocialProfile.avatar.url}}" alt=""
                            style="height: 50px; max-width: 100%;">
                        {%endif%}
                        <p class="mb-0 d-inline">{{social.body}}.</p>


                        <footer class="blockquote-footer">Created By: {{social.created_by}} <cite
                                title="Source Title">@{{social.created_at|naturaltime}}</cite>
                            <a @click="likeSocial({{social.id}})" v-if="!liked_socials.includes({{social.id}})" href="#"
                                class="btn btn-sm btn-success ">👌

                                
                            </a>
                            <span class="badge badge-success" v-if="liked_socials.includes({{social.id}})">Liked
                                <small id="likes-{{social.id}}">{{social.likes.count}}</small>
                            </span>
                                


                        </footer>
                    </blockquote>
                    <hr>

                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{%block script %}
<script>
    new Vue({
        el: '#socialApp',
        delimiters: ['[[', ']]'],
        data() {
            return {
                socials: [],
                body: '',
                user: '{{request.user.username}}',
                created_at: 'now',
                avatar: '{% if user.SocialProfile.avatar %} {{user.SocialProfile.avatar.url}} {%endif%}',
                liked_socials: [{%for social in socials %} {%if social.Like %} {{ social.id }}, {% endif %} {% endfor %}]

        }
    },
        methods: {
        likeSocial(social_id) {
            this.liked_socials.push(parseInt(social_id));

            var social = {
                'social_id': social_id,
            };

            fetch("{% url 'social-like-api' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-csrftoken': '{{csrf_token}}'
                },
                credentials: 'same-origin',
                body: JSON.stringify(social)
            })
                .then((response) => {
                    console.log(response)
                })
                .catch((error) => {
                    console.log(error);
                });
            const el = document.getElementById('likes-' + social_id);
            const likes = parseInt(el.innerHTML.split('')[0] + 1);
            el.innerHTML = likes + ' likes';

        },
        submitSocial() {
            console.log('ok ok submiteed')
            if (this.body.length > 0) {
                var social = {
                    'body': this.body,
                    'user': this.user,
                    'created_at': this.created_at,
                    'avatar': this.avatar,

                };
                this.socials.unshift(social);

                //
                fetch("{% url 'social-add-api' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-csrftoken': '{{csrf_token}}'
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify(social)
                })
                    .then((response) => {
                        console.log(response)
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            }
            this.body = ''
        }
    },
    })
</script>

{%endblock script %}