{% extends 'base/base.html' %}

{% load humanize %}

{%block title %} search {% endblock title %}


{%block content %}
{%include 'social_app/social_nav.html' %}

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center bg-dark text-white">
                    <h5>SEARCH {{query}}</h5>
                </div>

                <div class="card-body">
                    <form class="form my-2 " action="{%url 'social-search' %}" method="GET">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search 🔎🔎🔎🔎" name="query" value="{{query}}">
                        <button class="btn  my-2 btn-sm btn-primary btn-block" type="submit">Search 🔎</button>
                      </form>
                </div>

                <div class="card-footer">
                  
                    {% for social in socials %}
                    <a href="{% url 'social-profile' social.username %}" class="btn btn-outline-primary  btn-block">{{social.username}} 🧐🧐🧐🧐🧐</a>
                    {%endfor%}

                   
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}